#contenedor-centro {
    flex-grow: 1;    /*Para que ocupe todo el espacio vacio*/
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    margin-top: 3%; 
    box-sizing: border-box;  
}

#texto {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

#texto-error {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #b90000;
    text-align: center;
}

#boton-volver {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
}