body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

.navegacion {
    display: flex;
    justify-content: center; 
    padding: 20px;
    background-color: #888888;
}

.contenedor-centro {
    flex-grow: 1;    /*Para que ocupe todo el espacio vacio*/
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}

#Logo-Inicio {
    height: auto;
}

#texto-descripcion{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.enlaces{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.enlaces:hover {
    text-decoration: underline;
}